.container-fluid {
  display: flex;
  align-items: flex-end;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.left-side-bar {
  margin-right: auto;
  /* background-color: aqua; */
  align-self: stretch;
  background-color: white;
}

.right-side-bar {
  margin-left: auto;
  /* background-color: #ffeedb; */
  align-self: stretch;
  box-shadow: -5px 0 20px #dfdfdf;
}

.webmobi-logo {
  background-image: url("../components/logo.png");
  background-size: cover;
  margin: 12px auto 25px 26px;
  width: 70px;
  height: 65px;
  border-radius: 4px;
}
.left-icons {
  /* color: #8f00ff; */
  color: #6b6b6b;
  text-align: center;
  padding: 14px 13px 13px 13px;
  margin-top: 1rem;
  width: 90px;
  border-style: solid;
  border-radius: 14px;
  border-color: white;
}

.left-icons-clicked {
  color: #8f00ff;
  text-align: center;
  padding: 14px 13px 13px 13px;
  margin-top: 1rem;
  width: 90px;
  border-style: solid;
  border-radius: 14px;
}

.left-icons:hover {
  color: #8f00ff;
}

p {
  font-size: 13px;
  margin: 0;
  padding: 1px 0 0 0;
}

.right-icons {
  width: 80px;
  /* color: red; */
  text-align: center;
  padding: 2px;
  margin-top: 6px;
  color: #6b6b6b;
}

.online {
  width: 11px;
  height: 11px;
  background-color: #8f00ff;
  border: 2px solid white;
  border-radius: 50%;
  /* margin: auto; */
  transform: translateY(31px);
}

.profile-pic {
  margin: 14px auto;
  height: 40px;
  width: 40px;
  background-image: url("../components/pexels-j-u-n-e-1767434.jpg");
  background-size: cover;
  border-radius: 4px;
}

.center-div {
  /* background-color: teal; */
  background-color: #e1e8eb;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.topbar {
  /* align-self: flex-start; */
  /* background-color: yellow; */
  background-color: white;
  align-self: stretch;
  padding: 10px;
  box-shadow: 0 5px 20px #cccccc;
}

.topbar span {
  padding: 2px;
  margin-left: 2px;
  font-size: 20px;
  font-weight: bold;
}

.center-box {
  /* background-color: whitesmoke; */
  background-color: white;
  margin: 30px 30px;
  flex: 1;
  height: 420px;
  align-self: stretch;
  border-radius: 15px;
  display: flex;
  box-shadow: 0 0 20px #cccccc;
}

.setting-name {
  /* background-color: violet; */
  align-self: stretch;
  width: 180px;
  padding: 8px 0px;
  /* border-radius: 15px; */
}

.p-before {
  color: #6b6b6b;
  font-size: 18px;
  padding: 6px 11px;
  border-left: 5px solid white;
}
.p-after {
  color: #8f00ff;
  font-size: 18px;
  padding: 6px 11px;
  border-left: 5px solid;
}

.setting-content {
  /* background-color: yellow; */
  border-radius: 15px;
  box-shadow: -5px 0 20px #dfdfdf;
  flex: 1;
  display: flex;
  overflow-x: auto;
}

.close-icon {
  margin-left: auto;
  padding: 17px;
}

.settings-heading {
  background-color: white;
  flex: 1;
  align-self: stretch;
  margin-left: 100px;
}

.individual-settings {
  padding: 0px 20px;
  margin: 0px 12px 10px 38px;
  display: flex;
  /* justify-content: space-between; */
}

.save-btn {
  display: flex;
  justify-content: flex-end;
}

.btn {
  background-color: #8f00ff;
  border-color: #8f00ff;
  font-size: 15px;
  width: 120px;
  border-radius: 8px;
}

.btn:hover {
  background-color: #8f00ff;
  border-color: #8f00ff;
}

.question-boxs {
  margin-top: 12px;
  display: flex;
  height: 30px;
  width: 240px;
  /* background-color: lightgreen; */
  justify-content: space-between;
}

.boxs {
  width: 60px;
  height: 30px;
  display: flex;
  justify-content: center;
  padding: 2.5px;
  border: 2px solid #8f00ff;
  color: #8f00ff;
  font-weight: 500;
  border-radius: 5px;
}

.boxs-clicked {
  width: 60px;
  height: 30px;
  display: flex;
  justify-content: center;
  padding: 2.5px;
  border: 2px solid #8f00ff;
  color: white;
  background-color: #8f00ff;
  font-weight: 500;
  border-radius: 5px;
}

.toggle-switch-main {
  display: inline-block;
  margin: 0px auto 0px 290px;
  transform: translateY(8px);
}

.toggle-switch {
  display: inline-block;
  margin: 0px 200px 0px auto;
  transform: translateY(8px);
}
